@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --green-default: #5eb665;
  --green-defaul-dark: #46a54d;
  --blue-default: rgb(15, 92, 235);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
}
header {
  border: none;
  height: 75px;
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: #fff;
  flex-grow: 1;
}
header a {
  text-decoration: none;
  color: var(--green-defaul-dark);
}
.contain-fixed {
  height: 100%;
  width: 100%;
  text-align: center;
}
.top-bar {
  border: none;
  padding: 0 80px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8em;
  box-shadow: 0px 0px 10px black;
}
.navBar {
  display: flex;
  list-style: none;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: max(12px, 0.8vw);
  font-weight: 400;
  gap: 2em;
}
#linkHome {
  width: max(110px, 250px);
  cursor: pointer;
}
.navBar li {
  text-align: center;
  cursor: pointer;
  min-width: 100px;
  max-width: 350px;
}
.navBar li:hover {
  color: green;
}
.container-nav-carosel {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8d918d13;
}
.wrapper-carosel {
  position: relative;
  padding: 0 45px;
}
.nav-carosel {
  max-width: 980px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  gap: 66px;
  list-style: none;
}
.nav-carosel img {
  width: 80px;
}
.nav-carosel li {
  text-align: center;
  font:normal 0.9em helvetica;
  cursor: pointer;
  transition: all 0.3s ease;
}
.nav-carosel li img{
    margin-bottom: 10px;
}
.nav-carosel li:hover {
  opacity: 1;
  filter: saturate(1);
}
.slick-dot{
  margin: 20px auto;
  width: 680px;
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
}
.slick-dot li{
  width:1px;
  cursor: pointer;
}
.slick-dot li::before{
  content:".";
color: #46a54d;
font-size: 95px;

}
.arrow-left,
.arrow-right {
  font: bolder 45px helvetica;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: auto;
  background: rgba(187, 25, 25, 0);
  border: none;
  cursor: pointer;
  outline: none;
  &:hover {
    color: #46a54d;
  }
}
.arrow-right {
  right: 0;
  left: auto;
  background: rgba(0, 0, 0, 0);
  &:hover {
    color: #46a54d;
  }
}
.item {
  opacity: 0.3;
  filter: saturate(0.3);
}
.current-item {
  opacity: 1;
  filter: saturate(1);
}
main {
  width: 100%;
  height: 100%;
  padding-top: 79px;
}

body :where(.page1){
  height: 100%;
  padding-top:20px ; 
}
.page1 :where(article , #find-first-data,#find-second-data,.message){
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page1 :where(h1,h2,h3){
  color: var(--blue-default);
  font: bolder 20px "Montserrat" , sans-serif;
}
.page1 input,select{
  width:max(160px,40%);
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: 1px solid rgb(190, 190, 190);
}
.page1 >article>input{
  width:max(360px,
  25%);
}
.page1 select{
  width:max(100px,5%);
}
.page1 a{
  font-size: 18px;
}
#find-first-data,#find-second-data{
  width: max(260px,25%);
  margin:20px 0 ;
  flex-direction:  row;
  justify-content: center;
  gap: 10px;
}
.message > p{
  text-align:center;
  color: orangered;
  font: bolder 25px "Montserrat", sans-serif;
}
#btn-message{
  margin: 30px 0;
  width: 250px;
  height:50px;
  background-color: orangered;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  font:300 19px  helvetica;
}
.active::before{
  color: white;
  font: 200px;
}